@import '/src/styles/components/_variables.sass'
.button
  display: flex
  justify-content: center
  align-items: center
  background-color: transparent
  color: white
  font-size: 40px
  height: 40px
  &:hover
    color: $orange
  & .isFavorite
    color: $orange
