@import '/src/styles/components/_variables.sass'
.personal__button
  display: flex
  align-items: center
  justify-content: center
  background: none
  font-size: 40px
  height: 60px
  width: 60px
  transition: all .1s linear
  border-radius: 20px
  &:hover
    background-color: $orange
    color: white